body{
    background-color: aquamarine;
}
.container{
    /* border: 5px solid black; */
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin:100px auto;
    position: relative;
    overflow: hidden;
}
.container img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    transition: all 0.5s;
}
.container:hover img{
    transform: translateY(-45%);
}
.container .content{
    color: white;
   position: absolute;
   bottom: -48%;
   background: linear-gradient(45deg,blueviolet,deeppink);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 10px;
   transition: all 0.5s;
}
.container:hover .content{
    bottom: 0%;
}